.start-block-button {
    min-height: 36px;
    min-width: 160px;
    font-size: 14px;
}

.duration-label {
    font-size: 14px;
    font-weight: bold;
}

.skull-icon {
    font-size: 64px;
}

.countdown-label {
    font-size: 48px;
    font-weight: 300;
}

.summary-label {
    font-size: 13px;
}
